.ingresos-mensuales {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.ingresos-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.ingresos-table th,
.ingresos-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.ingresos-table th {
  background-color: #4caf50;
  color: white;
  font-weight: bold;
}

.filtro-container {
  display: flex;
  align-items: center;
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  gap: 15px;
}
.filtro-container,
.egreso-form {
  margin-bottom: 20px;
}

.filtro-container label,
.egreso-form h3 {
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
  color: #555;
}
.filtro-container input,
.egreso-form input {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  width: calc(100% - 20px);
  margin-bottom: 10px;
  box-sizing: border-box;
}
.exportar {
  width: 30%;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #45a049;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.div-registrar {
  display: flex;
}
